<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <form method="post" >
                <header style="text-align: center; font-size: 30px; text-decoration: underline; padding: 10px 0;">Login Form</header>
                <div>
                    <label for="">Email</label>
                    <input type="email" placeholder="email" name="email" value="<%=locals.email%>" required>
        
                </div>
                <div>
                    <label for="">Password</label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                </div>
                <p class="error" ><%=locals.message %></p>
                <button type="submit">Login</button>
            </form>
        </main>
</body>
</html>